<section>
    <h3>Courses & Workshops</h3>
    <article class='course'>
      <div class='title'>
        <h4>Udemy: Writing Tools & Hacks</h4>
      </div>
      <div class="descrition">
        <p>Hacks to take your copywriting, blogging, & content writing to the next level.</p>
      </div>
    </article>
    <article class='course'>
      <div class='title'>
        <h4>Udemy: Copywriting - Become a Freelance Copywriter</h4>
      </div>
      <div class="descrition">
        <p>Build a successful freelance copywriting business.</p>
      </div>
    </article>
  </section>
  <section>
    <h3>Skills</h3>
    <div class='skills'>
      <div class='column'>
        <ul>
          <li>Quality Management Systems</li>
          <li>Audit Compliance</li>
          <li>Documentation Management</li>
          <li>Staff training and development</li>
        </ul>
      </div>
      <div class='column'>
        <ul>
          <li>Strategic Planning</li>
          <li>Employee supervision</li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <h3>Education</h3>
    <article>
      <div>
        <span>High School Diploma: 05/2007 - </span> 
        <strong>New Iberia Senior High School</strong>
      </div>
    </article>
  </section>
