<header>
  <img src="assets/profile-pic.jpg" width="400" height="200" priority>
    <h1>Alicia Ransonet</h1>
    <section>
        <p>
          Hello! I'm Alicia Ransonet, 
          a dedicated Private Pay Billing Specialist at Leading Home Care, 
          where I ensure precise and efficient billing for clients' 
          private insurance policies in Louisiana. 
          With over four years of experience in quality assurance, leadership, and teamwork, 
          I bring a strong commitment to accuracy and client satisfaction. 
        </p>
        <a href="https://www.linkedin.com/in/alicia-ransonet-049a19160/" target="_blank">
          <fa-icon class="icon" [icon]="faLinkedinIn"></fa-icon>
        </a>
      </section>
</header>
