<header>
  <img src="assets/profile-pic.jpg" width="400" height="200" priority>
    <h1>Alicia Ransonet</h1>
    <section>
        <p>Hello! I am Alicia Ransonet. I currently work as a Quality Assurance Coordinator for a home health company. I have a passion for organization and enjoy creating processes that maximize efficiency. I am driven, goal-oriented, and always willing to learn and innovate. 
        </p>
        <a href="https://www.linkedin.com/in/alicia-ransonet-049a19160/" target="_blank">
          <fa-icon class="icon" [icon]="faLinkedinIn"></fa-icon>
        </a>
      </section>
</header>
