 header {
    padding: 2em;
    text-align: center;
    background-image: url('/assets/bg.jpg');
    background-size: cover; 
    background-position: fixed;
    color: white;
  }
  h1 {
    text-transform: uppercase;
    margin: 1em 0;
  }
  header img {
    border-radius: 50%;
    max-width: 175px;
    max-height: 175px;
  }
  header section {
    margin: 0 auto;
    max-width: 640px;
    padding: 1em;
  }
  header section p {
    margin-bottom: 1.5rem;
  }
  .icon {
    font-size: 1.5rem;
    color: #ffff;
    border: 1px solid #ffff;
    border-radius: 50%;
    padding: 0.4rem;
  }