
section{
    margin: 0 auto;
    max-width: 1140px;
    padding: 1.7rem;
}
section:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }  
  h3 {
    text-transform: uppercase;
    font-weight: bold;
  }  
ul.job-description li:before{
    content: "✔";
    padding-right: 0.5em;
    color: #509e98;
  }  
  footer {
   display: flex;
   justify-content: center;
   padding: 1em 1.5em;
   background: #A7B8BF;
   color: white;
   text-align: right;
  }
  footer p {
    font-size: 0.8rem;
  }
  
  .job-descrip {
    display: none;
  }
  .job {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .active {
    display: block;
    padding-bottom: 3rem;
    transition: all 0.2s ease-in;
  }
