<section>
    <h3>Experience</h3>
    <article>
      <div class='job-title'>
        <span>04.2019 - current</span> <strong>Leading Home Care,
        </strong> <span>Lafayette, La</span><br> <strong>Position:</strong> Quality Assurance Coordinator
      </div>
      <div>
        <ul class="job-description">
          <li>Evaluated accuracy of existing quality assurance measurement techniques, implementing improvements
            to increase efficacy and reduce errors.</li>
          <li>Drafted reports on quality verification activity outcomes, presenting findings to decision-makers and
            recommending response efforts</li>
          <li>Completed deviation forms and recorded findings of inspection process, collaborating with quality team
            members and department managers to implement procedural remedies.</li>
          <li>Identified and designed training curricula, prioritizing historical feedback findings to shape future
            educational efforts.</li>
        </ul>
        <h3>Job Description</h3>
        <p>With this position, I work directly with a counterpart traveling to the various LHCLA offices we have in
          Louisiana to audit and review files of different types to ensure proper documentation, accuracy and
          efficiency. There are various programs and services provided by our company that require very detailed
          documentation which is updated daily, monthly, and sometimes yearly that requires review consistently to
          ensure proper care of our clients, & efficiency of our workers. We then have to report any findings from these
          audits to the worker as well as their direct superior. We complete trainings, both in person as well as
          powerpoint, spreadsheets, and word documents to help with new employees, as well as reeducation for
          established employees. This is an ever evolving job that requires constant refreshment on government
          policies, licensing, and company policy to ensure avoidance of deficiencies.</p>
      </div>
      <strong>Click each job to reveal further detail</strong>
       <hr>
      <div class="other-jobs" (click)="toggleDescription('job1')">
        <div class="job">
          <div class='job-title'>
            <span>08.2018 - 04.2019 </span> <strong>Lafayette Internal Medicine Clinic,
            </strong> <span>Lafayette, La</span><br> <strong>Position:</strong> Receptionist
          </div>
          <fa-icon [icon]="faChevronDown"></fa-icon>
          </div>
              <div class="job-descrip" id="job1">
                <div>
                <ul class="job-description">
                  <li>Documented patient medical information, case histories and insurance details to facilitate smooth
                    appointments and payment processing.</li>
                  <li>Scheduled appointments for doctor visits and procedures using desktop calendar software.</li>
                  <li>Adeptly managed multi-line phone system and pleasantly greeted all patients.</li>
                  <li>Completed skilled administrative work to support all office staff and operational requirements</li>
                  <li>Managed master calendar and scheduled appointments for 8 providers based on optimal patient loads
                    and clinician availability</li></ul>
                <h3>Job Description</h3>
                <p>At LIMC, I was responsible for answering phones, scheduling appointments, reviewing faxes, completing
                  referrals, contacting new patients in a timely manner, and reviewing billing information for the following day.
                  This office ran with eight doctors, all of whom had different schedules and requirements for patient care and
                  timing. This created very high call volume, and the need for complex multi-tasking throughout each day. I
                  was responsible for several changes implemented in the position that helped to streamline the process and
                  create better productivity after only a few months of employment.</p>
              </div>
            </div>
          </div>
       <hr>
      <div class="other-jobs" (click)="toggleDescription('job2')">
        <div class="job">
          <div class='job-title'>
            <span>05.2011 - 05.2018 </span> <strong>Iberia Medical Center,
            </strong> <span>New Iberia, La</span><br> <strong>Position:</strong> Physician Practice Specialist,
          </div>
          <fa-icon [icon]="faChevronDown"></fa-icon>
          </div>
              <div class="job-descrip" id="job2">
                <div>
                <ul class="job-description">
                  <li>Call insurances to determine patient eligibility or costs, and bill and code patients daily
                    appointments.</li>
                  <li>Use Excel often to complete and submit volume reporting and stats for each day, week, month, and
                    year</li>
                  <li>Scan or file any paperwork necessary to optimize patient service, organize patient information, and
                    keep up with daily reports and deposit.</li></ul>
                <h3>Job Description</h3>
                <p>At Iberia Medical I work for the Surgery Clinic which includes three different general surgeons.
                  This job requires lots of multi-tasking.My job duties include answering phones, customer service, billing questions and collection.
                  I am able to keep up with all phones, referrals, insurances, and all other job duties in a timely manner
                  while maintaining excelled patient service.
                </p>
              </div>
            </div>
          </div>
    </article>
  </section>
<footer>
  <p>Created by: Sean Ransonet / 2024 </p>
</footer>
